<div class="center hero-unit">
  <h1>Welcome to Mortech Manufacturing!</h1>
  <h2>This is the home page for <a href="http://mortechmfg.com/">Mortech</a></h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>