<footer class="footer">
  <small>
    <a href="http://mortechmfg.com/">Mortech Manufacturing</a>
    by Jeremy Muljana
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   about_path %></li>
    </ul>
  </nav>
</footer>